---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Contrata a javiervleon para crear tu aplicaci칩n web o m칩vil. Desarrollador de Software. Enfocado en las necesidades del cliente."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/dev-portfolio/favicon.ico" />
    <meta name="generator" content={Astro.generator} /><title>
      Portfolio de Javier V치squez - Desarrollador de Software y Programador Web
      con +2 a침os de experiencia en desarrollo
    </title></head
  >

  <body>
    <div
      class="fixed inset-0 -z-10 h-full w-full dark:bg-gray-900 bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-size-[14px_24px]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>

  <style is:global>
    :root {
      color-scheme: dark light;
    }

    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: "Onest Variable", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
  </style>
</html>
